::-webkit-scrollbar {display:none;}

body {
  width: 100vw;
  overflow-x: hidden;
}

.test {
  z-index: 999;
  position: absolute;
}



.logo {
  width: 130px;
  /* pointer-events: none; */
  transition: all 0.3s cubic-bezier(0.22, 0.68, 0, 1);
  cursor: pointer;
  /* border: red 5px solid; */
}

.logo:hover {
  transform: scale(1.05);
}

.logo-container {
  position: fixed;
  top: 0;
  z-index: 11;
  width: 100vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: end;
  transition: all 1s cubic-bezier(0.22, 0.68, 0, 1);
}

.logo-container.small {
  width: 220px;
  height: 70px;
  color: red;
}

.logo-container.small .logo {
  width: 120px;
}